/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --btn-color: #E46511;
  --bg-color: #F9FAFB;
  --form-bg-color: #FFFFFF;
  --font-color: #2D2D2D;
  --border-input: #EAEBEE;
  --border-invalid-input: #c51e20;
  --border-valid-input: green;
  --bg-valid-input: #E2F0D2;
  --bg-invalid-input: #EBC6C7;
  --text-content-horizontal-padding: 3rem;
}

body {
  display: flex;
  color: var(--font-color);
  height: fit-content;
}

/* Hero image section */
.hero-image-container {
  position: sticky;
  top: 0px;
  flex-shrink: 0;
}

.banner {
  color: white;
  opacity: 0.7;
  background: black;
  position: absolute;
  top: 200px;
  height: 180px;
  width: 100%;
  padding: 16px;
  font-size: 3rem;
  letter-spacing: -8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  height: 100%;
}

.banner-mobile {
  display: none;
  height: 150px;
  gap: 1rem;
  align-items: center;
  padding: 16px;
  font-size: 2.5rem;
  letter-spacing: -8px;
}

.banner-mobile img {
  height: 100%;
  filter: invert(1);
}


.hero-image-container > img{
  height: 100vh;
}

/* Content section */
.hero-info{
  flex:auto;
  background-color: var(--bg-color);
}

.hero-info header {
  padding: 100px var(--text-content-horizontal-padding) 50px;
  font-size: 1.3rem;
  font-weight: 600;
}

.hero-info header p:nth-child(3) {
  margin-top: 1rem;
}

.signup-form {
  background: var(--form-bg-color);
  padding: 1rem var(--text-content-horizontal-padding);
}

.signup-form > h2 {
  margin-bottom: 1rem;
}

.inputs-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.input-row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input-row label{
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.input-row input{
  background-color: var(--bg-color);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-input);
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

button[type="submit"]{
  margin-top: 2rem;
  background: var(--btn-color);
  color: white;
  padding: 0.8rem 3rem;
  font-weight: 900;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 1px 1px gray;
  cursor: pointer;
}

.hero-info aside {
  padding: 1rem var(--text-content-horizontal-padding);
}

a:link, a:visited {
  color: var(--btn-color);
  font-weight: 600;
  text-decoration: none;
}

/* form validation */
.input-row input:focus {
  background-color: white;
  outline: none;
}

.input-row input:placeholder-shown:not(:focus) {
  background-color: var(--bg-color) !important;
  border: 1px solid var(--border-input) !important;
}

.input-row input:invalid:focus{
  border-color: var(--border-invalid-input);
  background-color: white;
}

.input-row input:valid:focus{
  border-color: var(--border-valid-input);
  background-color: white;
}

.input-row input:invalid {
  border-color: var(--border-invalid-input);
  background: var(--bg-invalid-input);
}

.input-row input:valid {
  border-color: var(--border-valid-input);
  background: var(--bg-valid-input);
}

/* mobile */
@media (max-width: 1000px) {
  :root {
    --text-content-horizontal-padding: 2.5rem;
  }

  .hero-image-container {
    display: none;
  }

  .banner-mobile {
    display: flex;
  }

  .hero-info header {
    padding: 0px var(--text-content-horizontal-padding) 50px;
  }
}

@media (max-width: 400px) {
  :root {
    --text-content-horizontal-padding: 1rem;
  }

  .banner-mobile {
    height: 100px;
    font-size: 2.5rem;
  }

  .input-row {
    min-width: 0px;
    flex-basis: 180px;
  }
  }
